:root {
  --background-color: #f1f1f2;
  --chilli-red: #990000;
  --jungle-green: #02a371;
  font-family: "Noto Sans", Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
